
<div class="container">
  <h1>Welcome to the Number Guessing Game 🎮</h1>
  
  <div class="button-container">
    <button (click)="navigate('register')">Register</button>
    <button (click)="navigate('login')">Login</button>
    <button (click)="navigate('game')">Play Game</button>
    <button (click)="navigate('leaderboard')">Leaderboard</button>
  </div>
  <div class="container text-center mt-5">
    <router-outlet></router-outlet> <!-- Removed the nested <app-root></app-root> -->
  </div>
</div>
